.gallery {

position:relative;

width:100%;

aspect-ratio:16/9;

overflow:hidden;

border-radius:15px;

}


.gallery-img {

width:100%;

height:100%;

object-fit:cover;

}



.gallery-prev,
.gallery-next {

position:absolute;

top:50%;

transform:translateY(-50%);

font-size:30px;

background:none;

border:none;

color:white;

cursor:pointer;

}



.gallery-prev {
left:15px;
}


.gallery-next {
right:15px;
}



@media(max-width:600px){

.gallery {

aspect-ratio:4/3;

}


.gallery-prev,
.gallery-next {

font-size:22px;

}

}