@use './variables' as vars;

.header {
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
img.logo {
  display: block;
  height: 40px;
  width: auto;
  background: #ccc; /* Pour voir si la zone s'affiche */
}

  nav {
    a {
      color: vars.$primary;
      margin-left: 2rem;
      text-decoration: none;
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }
    }
  }
}